div {
    border: none;
    background-color: rgb(80, 60, 209);
    font-size: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

div:hover {
    background-color: rgb(61, 43, 184);
}

.equals {
    grid-column: 3 / 5;
    background-color: purple;
}

.equals:hover {
    background-color: silver;
}